<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">		
		<title>ECE458 Web RTC Project</title>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
		<!-- <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" /> -->
		<link href="//cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/css/bootstrap.min.css" rel="Stylesheet" />
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></script> -->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="http://cdn.peerjs.com/0.3/peer.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='connect.js') }}"></script>
		<script type="text/javascript">
			navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

			if (navigator.getUserMedia) {
			   	navigator.getUserMedia (

			      // constraints
			      {
			         video: true,
			         audio: true
			      },

			      // successCallback
			      function(stream){
			        // Set your video displays
			        myvid = document.getElementById("myvid");
			        console.log(myvid);
			        myvid.src = URL.createObjectURL(stream);
			        console.log("gets here, should show video");
			        window.localStream = stream;
			        myvid.style.display="none";
			      },

			      // errorCallback
			      function(err) {
			         console.log("The following error occured: " + err);
			      }
			   	);
			} else {
			   console.log("getUserMedia not supported");
			}
		</script>
	</head>
	<body>
		<div id="container" class="container">
			<h1>Welcome to ECE458 Web RTC File Transfers</h1>
			<div class="hero-unit">
				<form id="connectUser">
					<h4>Please enter a username and a room id.</h4>
					<!-- <br/> -->
					<label for="nameInput">Username:</label>
					<input type="text" id="nameInput" style="height: 30px"/>
					<label for="roomInput">Room:</label> 
					<input type="text" id="roomInput" style="height: 30px"/>
					<br/>
					<button type="button" class="btn btn-primary" onclick="submitName()">Submit</button>
				</form>
			

				<div class="pure-u-2-3" id="video-container">
			        <video id="theirvid" autoplay style="dislpay:none"></video>
			        <video id="myvid" muted="true" autoplay style="display:none"></video>
		      	</div>

		        <script>
		            function handleFileSelect(evt) {
		                evt.stopPropagation();
		                evt.preventDefault();

		                var files = evt.dataTransfer.files; // FileList object.

		                // files is a FileList of File objects. List some properties.
		                var output = [];
		                for (var i = 0, f; f = files[i]; i++) {
		                	sendFile(f);
		                	
		                // file drag and drop
		                    /*output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
		                        f.size, ' bytes, last modified: ',
		                        f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
		                          '</li>');*/
		                //document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
		                }
		            }

		            function handleDragOver(evt) {
		                evt.stopPropagation();
		                evt.preventDefault();
		                evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
		            }

		            // Setup the dnd listeners.
		            var dropZone = document.getElementById('theirvid');
		            dropZone.addEventListener('dragover', handleDragOver, false);
		            dropZone.addEventListener('drop', handleFileSelect, false);
		        </script>
	        </div>
        </div>
    </body>
</html>

